/* Start of global rules section */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* End of global rules section */

Start of nav

/* Start of spinner section  */

.spinner-img{
  width: 200px;
  display: block;
  margin: auto;
}

/* End of spinner section  */

